h1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: darkred;
    background-color: darksalmon;
    margin: 20px;
    padding: 50px;
}

section{
    color: darkred;
    background-color: darksalmon;
}
p{
    text-align: left;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    font-size: x-large;    
}

  ul {
    list-style-type: square;
    margin-left: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;    
  }
  
  ol {
    list-style-type: decimal;
    margin-left: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;    
  }