h1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: darkred;
    background-color: darksalmon;
    margin: 20px;
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
}

section{
    color: darkred;
    background-color: darksalmon;
    font-family: 'Roboto Mono', monospace;
}
p{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

  ul {
    list-style-type: square;
    margin-left: 40px;
    padding: 10px;    
    font-family: 'Roboto Mono', monospace;
  }
  
  ol {
    list-style-type: decimal;
    margin-left: 40px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
  }